@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(30, 30, 30);
}

.btn {
  flex: 1 1 auto;
  transition: 0.5s;
  background: linear-gradient(90deg, rgb(64, 213, 221), rgb(19, 147, 216) 51%, rgb(64, 213, 221)) var(--x, 0) / 200%;
  border-radius: 0.5rem;
  border: transparent;
}

.btn:hover { --x: 100%; }

.main {
  padding-top: 12vh;
  padding-bottom: 7vh;
  text-align: center;
}

.header {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 7vh;
  background-color: #121212;
}

h1 {
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.gradient-text {
  background: linear-gradient(90deg, rgb(64, 213, 221), rgb(19, 147, 216));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

.grayscale {
  filter: grayscale(100%);
  transition: 0.1s ease-in-out;
}

.grayscale:hover {
  filter: none;
  transform: scale(1.1);
}

h3 {
  color: rgb(64, 213, 221);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.banner {
  width: 100vw;
  padding-top: 7vh;
}

.boxes-home {
  display: grid;
  gap: 1rem;
  grid-template-columns: 37.5% 37.5% 25%;
}

.logos-home {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
}

.gap-fixer {
  gap: 1rem;
}

.catalog-home {
  padding: 1.25rem;
}

.catalog-image-home {
  padding-right: 2.5rem;
}

.logistic-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
}

.custom-height {
  height: 10vh;
}


.certificates-home {
  display: flex;
  padding: 3vw;
  gap: 1rem;
}

.certificate-single {
  transition: 0.1s ease-in-out;
}

.certificate-single:hover {
  transform: scale(1.25);
}

.photos-gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 3vw;
  gap: 1rem;
}

.padding-x {
  padding-left: 20vw;
  padding-right: 20vw;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.7fr;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.footer-size {
  height: 13.5rem;
}

@media all and (max-width: 1400px) {
  .boxes-home {
    display: grid;
    gap: 1rem;
    grid-template-columns: 35% 35% 30%;
  }

  .logos-home {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
  }

  .gap-fixer {
    gap: 4rem;
  }

  .catalog-home {
    padding: 1.25rem;
  }

  .catalog-image-home {
    padding-right: 2.5rem;
  }

  .certificates-home {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 3vw;
    gap: 1rem;
  }

  .certificate-single {
    transition: 0.2s ease-in-out;
  }

  .certificate-single:hover {
    transform: scale(1);
  }

  .photos-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 3vw;
    gap: 1rem;
  }

  .padding-x {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media all and (max-width: 950px) {
  :root {
    font-size: small;
  }
  .padding-x {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .boxes-home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logos-home {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
  }

  .gap-fixer {
    gap: 1rem;
  }

  .catalog-home {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog-image-home {
    padding-right: 0;
  }

  .certificates-home {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 1rem;
  }

  .certificate-single {
    transition: 0.2s ease-in-out;
  }

  .certificate-single:hover {
    transform: scale(1);
  }

  .photos-gallery {
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 1rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.25rem;
    justify-content: center;
    align-items: start;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }

  .footer-address {
    grid-column: span 2;
  }

  .footer-size {
    height: 19rem;
  }
}
