@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(25,25,25);
}

h3 {
  color: rgb(64,213,221);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

h1 {
  color: rgb(64,213,221);
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.boxes {
  display: grid;
  gap: 1rem;
  grid-template-columns: 80% 20%;
}